    body {
        background-image: url(https://i.pinimg.com/1200x/af/4d/6b/af4d6b8a238207e098f9f7537af1ba96.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }