    body {
        background-image: url("https://i.pinimg.com/originals/4b/c2/23/4bc223357f82015393add7314b019c15.gif");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }