    body {
        background-image: url(https://i.pinimg.com/originals/61/45/f3/6145f3202dbdaa74e9aea1b6480c2dc9.gif);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }